In [10]:
import pymysql
db = pymysql.connect(host="***",
                     user="***",
                     password="***",
                     db="***",
                     port=3306,
                     charset='utf8',
                     # 以字典形式展示所查询数据
                     cursorclass=pymysql.cursors.DictCursor)

In [7]:
cursor = db.cursor()

In [56]:
user_id = 'asd'
rating = 5
id = 6
name = 555
url = 666

# insert user data
aa = [
    (user_id, rating, id, name, url)
]

sql = '''
        insert into demo.user_history_test1(user_id, rating, id, 餐廳名稱, 餐廳網站) values (%s,%s,%s,%s,%s)
        '''

In [57]:
# commit insert
cursor.executemany(sql, aa)
db.commit()

In [8]:
# check user id data
userid = 'asd'

cursor.execute('''select count(*) from demo.user_history_test1 where user_id=('%s')'''%(userid))
data = cursor.fetchone()

In [9]:
data

{'count(*)': 1}

In [10]:
if data['count(*)'] == 0:
    print('no data')
else:
    print('123')

123

In [11]:
cursor.close()

In [ ]:
import pymysql
db = pymysql.connect(host="***",
                     user="***",
                     password="***",
                     db="***",
                     port=3306,
                     charset='utf8',
                     # 以字典形式展示所查询数据
                     cursorclass=pymysql.cursors.DictCursor)

In [11]:
cursor = db.cursor()

In [3]:
user_id = 'asd111'
rating = 5
id = 6
name = 555
url = 666

aa = [
    (user_id, rating, id, name, url)
]

sql = '''insert into demo.user_history_test1(user_id, rating, id, 餐廳名稱, 餐廳網站) values (%s,%s,%s,%s,%s)'''

In [4]:
cursor.executemany(sql, aa)
db.commit()

In [14]:
userid = '111'

cursor.execute('''select count(*) from demo.user_history_test1 where user_id={}'''.format(userid))
data = cursor.fetchone()

In [15]:
data

{'count(*)': 0}

In [16]:
cursor.close()